<h1>Submission <%= @submission.id %></h1>
<%= render 'submission_details' %>

<div class="row-fluid">
  <div class="span11">
    <h2>Results</h2>
      <div class="well">
      <% if can? :update, @submission %>
        <div>
          <%= form_tag submission_path(@submission), :method => :put do %>
            <%= hidden_field_tag('rerun', '1')  %>
            <div>
              <%= button_tag 'Rerun submission', :type => 'submit', class: "btn btn-danger" %>
            </div>
            (may add points; never deletes points)
          <% end %>
        </div>
      <% end %>

      <% if @submission.pretest_error %>
        <pre class="error"><%= @submission.pretest_error %></pre>
      <% end %>

      <%= render 'submissions/details' %>
    </div>
</div>

<% if !@submission.stdout.blank? || !@submission.stderr.blank? %>
  <div class="row-fluid">
    <h2>Output</h2>
    <div class="span11">
      <p>The following was output while running the tests.</p>
      <% if !@submission.stdout.blank? %>
        <% if @submission.stderr.blank? %>
          <h3>Standard output (System.out)</h3>
        <% end %>
        <pre><%= @submission.stdout %></pre>
      <% end %>

      <% if !@submission.stderr.blank? %>
        <h3>Error output (System.err)</h3>
        <pre><%= @submission.stderr %></pre>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@submission.valgrind.blank? %>
  <div class="row-fluid">
  <h2>Valgrind output</h2>
    <div class="span11">
      <p>Valgrind output is shown below..</p>
        <pre><%= @submission.valgrind %></pre>
    </div>
  </div>
<% end %>

<% if current_user.administrator? && !@submission.vm_log.blank? %>
  <div class="row-fluid">
    <div class="span11">
      <h2>Full sandbox log</h2>
      <pre><%= @submission.vm_log %></pre>
    </div>
  </div>
<% end %>

<% unless @submission.feedback_answers.empty? %>
  <div class="row-fluid">
    <h2>Feedback</h2>
    <div class="span11">
      <!-- Ugly hack used to get stuff to correct place -->
    <div>
      <% answers = @submission.feedback_answers.to_a.sort_by {|a| a.feedback_question.position }%>
      <% for answer in answers %>
        <div class="feedback-question">
          <%= answer.feedback_question.question %>
        </div>
        <p class="feedback-answer"><%= render_feedback_answer(answer) %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_back %>


