<h1><%= @title %>
  <% if @submission.public? and current_user.administrator? %>
  - <span class="error"> This submission is public</span>
  <% end %>
</h1>

<%= render 'submissions/submission_details' %>

<% unless @submission.message_for_paste.blank? %>
<div class="row-fluid ">
  <div class="span12 well">
    <h3>Message for paste</h3>
    <%= @submission.message_for_paste %>
  </div>
</div>
<% end %>

<% if @submission.processed? %>
  <div class="row-fluid">
    <div class="span12">
      <div class="accordion" id="testResultsAccordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#testResultsAccordion" href="#collapseOne">
              <% if @submission.pretest_error? %>
              <h2 class="">Failed to run tests</h2>
              <% else %>
              <h2 class="">Test results</h2>
              <% end %>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse <%= @submission.pretest_error? ? 'in' : 'out' %>">
            <div class="accordion-inner">
              <% if @submission.pretest_error? %>
              <pre class="error"><%= @submission.pretest_error %></pre>
              <% else %>
              <%= render 'submissions/details' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render :partial => 'files/files', :locals => {:files => @files} %>
